.pr{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    filter: grayscale(100%);
    background-image: url("Writing.png");
    background-size: cover;
    opacity: 0.8;
}
.pr-name{
    font-family: 'Brush Script MT';
}
.pr-title{
    font-family: 'Open Sans', sans-serif;
}